html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #EEC643;
  font-size: 60px;
  /* background-color: #32373B; */
  background-color: #002233;
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes change-color {
  0% {
    opacity: 0;
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.fade-in {
  animation-name: change-color;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.title {
  text-align: center;
}




.grid-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: auto;
  column-gap: 30%;
  justify-content: space-evenly;
  align-content: space-evenly;
  align-items: center;
}

.item {
  /* box-sizing: border-box; */
  width: 200%;
  height: 100%;
}

.greeting {
  font-size: 100%;
}

.intro {
  font-size: 50%;
  background-color: #77cbb9;
}

.work {
  font-size: 50%;
  background-color: #75b8c8;
}

.languages {
  font-size: 40%;
  background-color: #cdd3d5;
}

.projects {
  font-size: 40%;
  background-color: #f06449;
}

.me {
  font-size: 50%;
  background-color: #f5cda7;
}

/* .spacer {
  aspect-ratio: 960/540;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: cover;
}

.layer1 {
  background-image: url(./images/wave.svg);
} */