@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: #E9ECEF;
  font-size: 60px;
  /* background-color: #32373B; */
  background-color: #1A1A1D;
  scroll-snap-type: y mandatory;
  /* overflow-x: hidden; */
}

section {
  scroll-snap-align: start;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* svg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width:100%;
  height:100%;
}

@keyframes change-color {
  0% {
    opacity: 0;
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.fade-in {
  animation-name: change-color;
  animation-duration: 2s;
  animation-iteration-count: 1;
} */

.title {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: auto;
  column-gap: 30%;
  justify-content: space-evenly;
  align-content: space-evenly;
  align-items: center;
}

.container-job {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  column-gap: 30%;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.item {
  /* box-sizing: border-box; */
  width: 170%;
  height: 100%;
}

.greeting {
  font-size: 60px;
}

.gt {
  opacity: 0;
  filter: blur(5px);
}

.intro {
  font-size: 26px;
  background-color: #1A1A1D;
}

.work {
  font-size: 30px;
  background-color: #1A1A1D;
  display: grid;
  grid-template-rows: 1f 4f 1f;
  align-items: center;
  justify-content: center;
}

.work-card {
  justify-content: center;
  align-items: center;
  height: 225px;
  width: 550px;
  font-size: 27px;
  border: 2px solid white;
  border-radius: 15%;
  padding: 1%; 
}

/* .logo {
  filter: grayscale(100%);
} */

.center {
  text-align: center;
}

.work-page-title {
  font-size: 35px;
}

.work-title {
  font-size: 110%;
}

.work-detail {
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* padding: 0 10px 0 10px; */

}

.work-term{
  font-size: 60%;
}

.work-text {
  font-size: 60%;
}

.work-skill{
  font-size: 40%;
}

.scroll-div {
}


.languages {
  font-size: 40%;
  /* background-color: #818584; */
  background-color: #1A1A1D;
  /* background-image: url('images/blur4.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}

.project-card {
  background-color: #1A1A1D;
  width: 250px;
  height: 250px;
  font-size: 20px;
  border-radius: 50%;
  color: #E9ECEF;
  display: flex;
  border: solid #FFFFFF;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 50px 0 50px;
}

.proj-container {
  /* display: flexbox;
  justify-content: center;
  align-items: center; */
  /* display: flex;
  flex-wrap: wrap; */

  /* display: grid; */
  /* width: 100%; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  row-gap: 22px;
  column-gap: 22px;
}

.projects {
  font-size: 80%;
  color: #FFFFFF;
  background-color: #1A1A1D;
  display: grid;
  align-items: center;

  /* grid-template-rows: 1fr 2fr; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* margin: auto; */
}

.content {
  margin: 10px 10px 10px 10px;
}

.project-skills {
  font-size: 60%;
}

.project-desc {
  font-size: 75%;
  /* padding-left: 10%;
  padding-right: 10%; */
}

.project-title {
  /* margin-top: 70px; */
  font-size: 150%;
}

.highlight {
  display: inline;
  padding: .25em 0;
  background: #1A1A1D;
  color: #E9ECEF;
  border-radius: 10px;
  font-size: 40px;
  box-shadow: .5em 0 0 #1A1A1D, -.5em 0 0 #1A1A1D;
}

.me {
  font-size: 50%;
  background-color: #f5cda7;
}


@media (max-width: 1100px) {
  .greeting {
    font-size: 50px; 
  }
  .intro {
    font-size: 20px;
  }

  

  .projects {
    grid-template-rows: 130px 550px;
  }

  .project-card {
    width: 200px;
    height: 200px;
    font-size: 33px;
    padding: 0 50px 0 50px;
  }

  .proj-container {
    /* height: 500px; */
    height: 100%;
    border: dashed khaki;
    display: flex;
    flex-wrap: wrap;
  }

  .project-card {
    font-size: 18px;
  }

  .highlight {
    font-size: 35px;
  }
}


/* @media (max-width: 950px) {
  .proj-container {
    grid-template-columns: repeat(2, 1fr);
    height: 600px;
    border: solid orange;
  }
  .project-card {
    width: 150px;
    height: 150px;
    font-size: 18px;
    padding: 0 50px 0 50px;
  }

  .projects {
    font-size: 50%;
  }
  .project-card {
    font-size: 20%;
  }

  .highlight {
    font-size: 70%;
  }
} */

@media (max-width: 630px) {
  .proj-container {
    grid-template-columns: repeat(2, 1fr);
    border: solid gray;
    height: 600px;
  }

  .project-card {
    width: 170px;
    height: 170px;
    font-size: 18px;
    padding: 0 30px 0 30px;
  }

  .proj-container {
    /* height: 500px; */
    border: dashed blue;
    display: flex;
    flex-wrap: wrap;
  }

  .project-card {
    font-size: 16px;
  }

  .highlight {
    font-size: 30px;
  }
}

@media (max-width: 450px) {
  .proj-container {
    /* grid-template-columns: repeat(1, 1fr); */
    border: solid gray;
    height: 600px;
  }

  .project-card {
    width: 200px;
    height: 200px;
    font-size: 20px;
    padding: 0 30px 0 30px;
  }

  .proj-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
  }


  .project-card {
    font-size: 17px;
  }

  .highlight {
    font-size: 26px;
  }
}